.blurred {
    filter: blur(30px); /* Adjust blur level */
    transition: var(--transition);
}

#images {
    user-select: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
    max-width: 100%;
}

#images .image-wrapper {
    /* Set a width for the wrapper to maintain uniformity */
    width: 400px; /* Fixed width */
}

#images .image-wrapper img {
    width: 100%; /* Makes image fill the wrapper */
    height: 100%; /* Makes image fill the wrapper */
    border-radius: 10px; /* Rounded corners for images */
    object-fit: cover; /* Ensures images maintain aspect ratio */
    overflow: hidden; /* Hide overflow */
    padding: 0;
    margin: 0;
    image-rendering: crisp-edges;
    user-select: none;
}

.image-wrapper {
    position: relative;
    overflow: hidden; /* Hide overflow */
    border: var(--border); /* Optional: Add border */
    border-radius: 10px; /* Optional: Rounded corners */
    padding: 0;
    margin: 0;
}
