<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        
        <script src="https://cdn.jsdelivr.net/gh/seikichi/tiff.js@master/tiff.min.js"></script>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-new.css') }}">

    </head>
    <body>
        <div id="all">
            <h1>Text to Image Generator</h1>

            <div class="form">
                <form id="generateForm">

                    <label for="model" title="Select the model you want to use for image generation.">Choose a model:</label>
                    <select id="model" name="model" required>
                        <option value="https://huggingface.co/cagliostrolab/animagine-xl-3.1/blob/main/animagine-xl-3.1.safetensors" selected>
                            Animagine XL 3.1
                        </option>
                    </select><br>

                    <label for="model_type" title="The type of the model (change this if you know what are you doing or if the model is not working)">Choose a model type:</label>
                    <select id="model_type" name="model_type" required>
                        <option value="SDXL" selected>SDXL</option>
                        <option value="SD1.5">SD1.5</option>
                    </select><br>

                    <label for="scheduler" title="Select the scheduler model to control the image generation process, affecting sampling techniques and quality.">Choose a scheduler model:</label>
                    <select id="scheduler" name="scheduler" required>
                        <option value="Euler a" selected>Euler a</option>
                    </select><br>

                    <div id="form-separator"></div>
                
                    <label for="example_prompt" title="Choose from a list of example prompts.">Example Prompts:</label>
                    <select id="example_prompt" name="example_prompt">
                        <option value=""></option>
                    </select><br>

                    <label for="prompt_helper" title="Chose (ON) if you want to use Prompt Helper">Prompt Helper:</label>
                    <select id="prompt_helper" name="prompt_helper">
                        <option value="0" selected>OFF</option>
                        <option value="1">ON</option>
                    </select><br>

                    <div id="prompt-div" class="input-div">
                        <label for="prompt" title="Enter the main prompt that describes the image you want to generate.">Prompt:</label>
                        <textarea id="prompt" name="prompt" required></textarea><br>
                    </div>
                
                    <div id="negative-div">
                        <label for="negative_prompt" title="Enter negative prompts to specify what you want to avoid in the generated image.">Negative Prompt:</label>
                        <textarea id="negative_prompt" name="negative_prompt">(nsfw, lowres, (bad), text, error, fewer, extra, missing, (worst quality), (low quality),jpeg artifacts, watermark, unfinished, displeasing, oldest, early, chromatic aberration, signature, extra digits, artistic error, username, scan, abstract, bad anatomy, bad hands, bad feet, bad hand, bad hands, bad finger, bad fingers, extra finger, extra fingers, split finger, split fingers, extra digits, fused arms, fused hands:1.6)</textarea><br>
                    </div>

                    <div id="form-separator"></div>
                
                    <div id="size-select">
                        <label for="example_size" title="Choose from a list of sizes.">Size Examples:</label>
                        <select id="example_size" name="example_size">
                            <option value="832x1216">832x1216  13:19</option>
                        </select><br>

                        <label for="width" title="Set the width of the generated image. Minimum value is 800.">Width:</label>
                        <input type="number" id="width" name="width" value="832"><br>
                
                        <label for="height" title="Set the height of the generated image. Minimum value is 800.">Height:</label>
                        <input type="number" id="height" name="height" value="1216"><br>
                    </div>

                    <div id="form-separator"></div>

                    <label for="generation_type" title="Chose generation type (Text to Image is default)">Generation Type:</label>
                    <select id="generation_type" name="generation_type">
                        <option value="txt2img" selected>Text To Image</option>
                        <option value="img2img">Image To Image</option>
                        <option value="controlnet">ControlNet</option>
                    </select><br>

                    <div id="img_input">
                        <label for="img_input" title="Paste a valid image url to generate image from image">image url:</label>
                        <input type="text" id="img_input" name="img_input" placeholder="https://example.com/image.png"><br>
                    </div>

                    <div id="strength">
                        <label for="strength" title="enter value between 0.0-1.0.   Higher value = closer to prompt">Strength:</label>
                        <input type="number" min="0.0" max="1.0" step="0.01" id="strength" name="strength" placeholder="0.5" value="0.5"><br>
                    </div>

                    <div id="form-separator"></div>

                    <div id="custom-seed">
                        <label for="custom_seed" title="Enter a custom seed. If you want it to be random enter 0">Custom Seed:</label>
                        <input type="number" id="custom_seed" name="custom_seed" value="0" min="0" required><br>
                    </div>

                    <div id="sampling_steps">
                        <label for="sampling_steps" title="Enter the number of sampling steps. Higher values may improve image quality but take longer to generate.">Sampling Steps:</label>
                        <input type="number" id="sampling_steps" name="sampling_steps" value="28" min="1" required><br>
                    </div>
                
                    <div id="image-count">
                        <label for="image_count" title="Specify the number of images you want to generate. Minimum is 1.">Number of Images:</label>
                        <input type="number" id="image_count" name="image_count" value="4" min="1" required><br>
                    </div>
                
                    <div id="cfg-scale">
                        <label for="cfg_scale" title="The scale value decides how closely the AI follows your prompts. When the scale is low, AI tends to produce softer, painterly pictures. We recommend keeping the scale below 7.">CFG Scale:</label>
                        <input type="number" id="cfg_scale" name="cfg_scale" value="7" min="1" max="20" step="0.1" required><br>
                    </div>
                    
                    <div id="form-separator"></div>
                
                    <div id="buttons">
                        <button type="submit">Generate Images</button>
                        <button type="button" id="stopButton"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor"><path d="M0 96C0 60.7 28.7 32 64 32l384 0c35.3 0 64 28.7 64 64l0 320c0 35.3-28.7 64-64 64L64 480c-35.3 0-64-28.7-64-64L0 96zM323.8 202.5c-4.5-6.6-11.9-10.5-19.8-10.5s-15.4 3.9-19.8 10.5l-87 127.6L170.7 297c-4.6-5.7-11.5-9-18.7-9s-14.2 3.3-18.7 9l-64 80c-5.8 7.2-6.9 17.1-2.9 25.4s12.4 13.6 21.6 13.6l96 0 32 0 208 0c8.9 0 17.1-4.9 21.2-12.8s3.6-17.4-1.4-24.7l-120-176zM112 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"/></svg>Stop Generation</button>
                        <button type="button" id="restartButton">Restart Server</button>
                        <button type="button" id="clearButton">Clear Images</button>
                        <button type="button" id="metadataButton" onclick="window.open(`{{ url_for('metadata') }}`)">Get Metadata</button>
                        <button type="button" id="modelEditorButton" onclick="window.open(`{{ url_for('models') }}`)">Model Editor</button>
                        <button type="button" onclick="window.open(`https://umittadelen.github.io/PromptBuilder/`)">Prompt Builder</button>
                        <button type="button" id="resetCacheButton">Clear Saved Form</button>
                    </div>

                    <div id="form-separator"></div>
                
                    <div id="status">
                        <p id="progress">Nothing Generating Yet</p>
                        <div id="progress-bar-container">
                            <span class="progress-bar" id="dynamic-progress-bar"></span>
                            <span class="all-progress-bar" id="all-dynamic-progress-bar"></span>
                        </div>
                    </div>
                </form>
            </div>

            <div id="images"></div>
        </div>

        <script src="{{url_for('static', filename='js/loadJson.js')}}" defer></script>
        <script src="{{url_for('static', filename='js/main.js')}}" defer></script>
    </body>
</html>